.visible {
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    opacity: 0;
    transition: opacity 2s linear;
}

.slide {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 2;
}

.blur {
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

@media (max-width: 480px) {
    .slide {
        background-size: contain;
    }
}