<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>EJS Welcome to
    <%= title %>
  </p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
  <script>
    var socket = io({
      transports: ['websocket'],
      // reconnectAttempts: 0,
      // reconnection: false
    });
    socket.on('message', (msg) => {
      console.log(msg)
    })
    socket.on('error', (err) => {
      console.log(err)
    })
    socket.emit('message', 'hello!!!!');
  </script>
</body>

</html>