.bulletcomment {
    font-size: 32px;
    position: fixed;
    left: 0px;
    transition-timing-function: linear;
    transition-property: transform;
    transition-duration: 10s;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    text-align: left;
    color: dimgray;
    z-index: 100;
    white-space: nowrap;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

@media (max-width: 480px) {
    .bulletcomment {
        font-size: 20px;
    }
}
