.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: whitesmoke;
    font-size: 40px;
}

@media (max-width: 480px) {
    .container {
        font-size: 32px;
    }
}

.container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container .header {
    width: 100%;
    height: 55px;
}

.container .header .title {
    height: 50px;
}

.container .header .bar {
    height: 5px;
    background-color: lightgray;
}

.container .content {
    position: absolute;
    top: 55px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    width: 100%;
    padding: 5px 10px;
}

.container .content .question {
    height: 40%;
    width: 100%;
}

.container .content .optionBlock {
    z-index: 999;
    position: relative;
    height: 60%;
    width: 100%;
}

.container .content .optionBlock .overlay {
    z-index: 99999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #0003;
}

.container .content .optionBlock .hidden {
    visibility: hidden;
}

.container .content .optionBlock button.option {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    float: left;
    cursor: pointer;
}

@media (max-width: 480px) {
    .container .content .optionBlock button.option {
        border-radius: 10px;
        width: 100%;
        height: 24%;
        cursor: pointer;
    }
}

.container .content .optionBlock button.option:nth-child(1) {
    background-color: lightcoral;
}

.container .content .optionBlock button.option:nth-child(1).selected {
    background: repeating-linear-gradient( 45deg, lightcoral, lightcoral 10px, gray 10px, gray 11px);
}

.container .content .optionBlock button.option:nth-child(2) {
    background-color: lightsalmon;
}

.container .content .optionBlock button.option:nth-child(2).selected {
    background: repeating-linear-gradient( 45deg, lightsalmon, lightsalmon 10px, gray 10px, gray 11px);
}

.container .content .optionBlock button.option:nth-child(3) {
    background-color: skyblue;
}

.container .content .optionBlock button.option:nth-child(3).selected {
    background: repeating-linear-gradient( 45deg, skyblue, skyblue 10px, gray 10px, gray 11px);
}

.container .content .optionBlock button.option:nth-child(4) {
    background-color: lightgreen;
}

.container .content .optionBlock button.option:nth-child(4).selected {
    background: repeating-linear-gradient( 45deg, lightgreen, lightgreen 10px, gray 10px, gray 11px);
}